language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t cylordev/workflowsample -f Dockerfile.dev .

script:
  - docker run -e CI=true cylordev/workflowsample npm run test
